<%- partial('_partial/progress-bar') %>

<main class="page-container border-box">
    <div class="page-main-content border-box">
        <div class="page-main-content-top">
            <%- partial('_partial/header') %>
        </div>
        
        <div class="page-main-content-middle border-box">
            <div class="main-content border-box">
                <%- partial('tag-list') %>
            </div>
        </div>

        <div class="page-main-content-bottom border-box">
            <%- partial('_partial/footer') %>
        </div>
    </div>

    <div class="side-tools">
        <%- partial('_partial/side-tools') %>
    </div>

    <%- partial('_partial/local-search') %>